@import "globals";

.navbar-brand {
    display: flex;
    align-items: center;

    .logo-img {
        margin-right: 10px !important;
    }
}
 
.nav-link {
    color: white !important;

    &:hover {
        color: $mainGreen !important;
    }
}

.signInLink {
    margin-left: auto;
    padding-left: 0px !important;
}